@tailwind base;
@tailwind components;
@tailwind utilities;

$warning-color: red;
$spacing: 10px;
#app {
    padding: 0 20px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }